body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#meteor-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    pointer-events: none;
}

/* Diary Cover Section */
.diary-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.cover-content {
    z-index: 2;
    position: relative;
}

.cover-image {
    width: 50%; 
    max-width: 400px;

    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* "The" title */
.diary-subtitle {
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    letter-spacing: 0.3rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

/* "Emotion Diary" title */
.diary-title {
    font-size: 3.5rem;
    font-family: 'EB Garamond', serif; 
    letter-spacing: 0.5rem; 
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0 20px;
}

/* Dicide line */
.divider {
    width: 60px;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    border: none;
}

/* word */
.diary-description {
    font-size: 0.9rem;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
    color: #ccc;
}


.diary-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

/* Music Toggle Button */
.music-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 9999;
}

.music-toggle:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    color: black;
    background-color: white;
}

.music-toggle:active {
    transform: scale(1.05);
}


/* Emotion Diary */
#dynamic-title {
    font-size: 3em;
    font-family: 'EB Garamond', serif;
    color: white;
    position: relative;
    max-width: 100%;
    text-align: left;
    line-height: 1.2;/
    overflow: hidden;
    white-space: nowrap;
    animation: text-fade 2s infinite alternate;
    -webkit-animation: text-fade 3s infinite alternate;
}
@keyframes text-fade {
    0% {
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
    50% {
        clip-path: inset(0% 60% 0% 0%);
        opacity: 0.7;
    }
    100% {
        clip-path: inset(0% 100% 0% 0%);
        opacity: 0.3;
    }
}

/* Main Content Section */
.main-content {
    padding: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between; /* Align title and user info on opposite sides */
    align-items: center;
}

.title {
    flex-grow: 1; /* Pushes the user info to the right */
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info input {
    background: black;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}


.content-wrapper {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}


.text-section {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 60%;
}

/* input section */
.input-section {
    position: relative;
}

#input-text {
    width: 150%;
    height: 220px;
    background: black;
    border: 1px solid white;
    color: white;
    padding: 10px;
    font-size: 1em;
    resize: none; 
}

#analyze-btn {
    position: absolute;
    bottom: 20px;
    right: -80px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 1em;
    transition: transform 0.2s, box-shadow 0.2s;

}

#analyze-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

#analyze-btn:active {
    transform: scale(0.9);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

/* GPT section */
.GPT-section {
    position: relative;
}

#GPT-text {
    width: 150%;
    height: 220px;
    background: black;
    border: 1px solid white;
    color: white;
    padding: 10px;
    font-size: 1em;
    resize: none;
}

#AiResponse-btn {
    position: absolute;
    bottom: 20px;
    right: -80px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 1em;
    transition: transform 0.2s, box-shadow 0.2s;

}

#AiResponse-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

#AiResponse-btn:active {
    transform: scale(0.9);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

/* Planet GIF */
.planet-gif {
    width: 100%; 
    max-width: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Planet GIF Image */
.planet-gif img {
    width: 100%;
    height: auto; 
    max-width: 300px; 
    opacity: 0.8;
}



/* Results Section */
.result-section {
    width: 100%;
    margin: 20px 0;
    text-align: center;

}
.analysis-title {
    font-family: 'EB Garamond', serif; /* 设置你想要的字体 */
    letter-spacing: 0.1rem; 
}
.result-display p {
    margin: 10px 0;
}


/* Art Section */
.art-section {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
canvas {
    width: 100%;
    height: 100%;
}




